@font-face {
    /* https://fonts.google.com/specimen/Ubuntu */
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(../webfonts/Ubuntu-Regular.ttf) format("truetype");
}

@font-face {
    /* https://fonts.google.com/specimen/Special+Elite */
    font-family: "Special Elite";
    font-style: normal;
    font-weight: 400;
    src: local("Special Elite Regular"), local("SpecialElite-Regular"), url(../webfonts/SpecialElite-Regular.ttf) format("truetype");
}

body {
    font-family: "Ubuntu", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Special Elite", cursive;
}

main h4 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-left: -1rem;
}

.bg-black {
    background-color: black;
}

.sepia {
    background-color: #f8f9f0; /* default "light" is #f8f9fa */
    color: #683a40; /* default "dark" is #343a40 */
}

.leather {
    background-color: #2e1e0f;
    color: #b9a394;
}

.text-muted-custom {
    opacity: 0.5; /* that way the text color is inherited, but then *everything* is opacified */
}

.pt-custom {
    padding-top: 5rem;
}

a, a:hover {
    color: inherit;
}
