@font-face {
    /* https://fonts.google.com/specimen/Ubuntu */
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(../webfonts/Ubuntu-Regular.ttf) format("truetype");
}

.font-ubuntu {
    font-family: "Ubuntu", sans-serif;
}

@font-face {
    /* https://fonts.google.com/specimen/Special+Elite */
    font-family: "Special Elite";
    font-style: normal;
    font-weight: 400;
    src: local("Special Elite Regular"), local("SpecialElite-Regular"), url(../webfonts/SpecialElite-Regular.ttf) format("truetype");
}

.font-special-elite {
    font-family: "Special Elite", cursive;
}

.bg-black {
    background-color: black;
}

.bg-sepia {
    background-color: #f8f9f0; /* default "light" is #f8f9fa */
}

.text-sepia {
    color: #683a40; /* default "dark" is #343a40 */
}

.bg-leather {
    background-color: #2e1e0f;
}

.text-leather {
    color: #b9a394;
}

.text-muted-custom {
    opacity: 0.5; /* that way the text color is inherited, but then *everything* is opacified */
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pt-custom {
    padding-top: 5rem;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fade 1s forwards;
}

a, a:hover {
    color: inherit;
}

.credit {
    width: 512px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
