body {
  font-family: "Ubuntu";
  padding: 5rem 0;
  background-color: #f8f9f0; /* default "light" is #f8f9fa */
  color: #683a40; /* default "dark" is #343a40 */
}

header {
  font-family: "Special Elite";
}

.text-muted {
  color: #683a40a0 !important;
}
